[project]
	description = a TMX map viewer written in PHP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sebbu2
[access "refs/for/refs/*"]
	read = group user/sebbu2
	push = group user/sebbu2
	label-Code-Review = -2..+2 group user/sebbu2
	label-Verified = -1..+1 group user/sebbu2
	rebase = group user/sebbu2
	removeReviewer = group user/sebbu2
	submit = group user/sebbu2
[access "refs/heads/*"]
	read = group user/sebbu2
	create = group user/sebbu2
	push = +force group user/sebbu2
	pushMerge = group user/sebbu2
[access "refs/tags/*"]
	push = +force group user/sebbu2
	pushTag = group user/sebbu2
	pushSignedTag = group user/sebbu2
